In [1]:
# Import dependancies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Create variables for raw data files
happiness_2015_file = 'Resources/2015.csv'
happiness_2016_file = 'Resources/2016.csv'
happiness_2017_file = 'Resources/2017.csv'
happiness_2018_file = 'Resources/2018.csv'
happiness_2019_file = 'Resources/2019.csv'

In [2]:
# Read country data into notebook
footprint_data1 = pd.read_csv("Resources/countries.csv")
footprint_data1.head(1)

,Country,Region,Population (millions),HDI,GDP per Capita,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,...,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required,Data Quality
0,Afghanistan,Middle East/Central Asia,29.82,0.46,$614.66,0.3,0.2,0.08,0.18,0.0,...,0.24,0.2,0.02,0.0,0.04,0.5,-0.3,0.46,1.6,6

In [3]:
#Change names of Countries to match the Country names in the happiness data
replacements = {'Country': {
r'Libyan Arab Jamahiriya':'Libya',
r'Macedonia TFYR':'Macedonia',
r'Russian Federation':'Russia',
r'Syrian Arab Republic':'Syria',
r'Tanzania, United Republic of':'Tanzania',
r'United States of America':'United States',
r'Venezuela, Bolivarian Republic of':'Venezuela'}}

footprint_data1.replace(replacements, regex=True, inplace=True)

footprint_data1.head()

,Country,Region,Population (millions),HDI,GDP per Capita,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,...,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required,Data Quality
0,Afghanistan,Middle East/Central Asia,29.82,0.46,$614.66,0.30,0.20,0.08,0.18,0.00,...,0.24,0.20,0.02,0.00,0.04,0.50,-0.30,0.46,1.60,6
1,Albania,Northern/Eastern Europe,3.16,0.73,"$4,534.37",0.78,0.22,0.25,0.87,0.02,...,0.55,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.87,6
2,Algeria,Africa,38.48,0.73,"$5,430.57",0.60,0.16,0.17,1.14,0.01,...,0.24,0.27,0.03,0.01,0.03,0.59,-1.53,1.22,3.61,5
3,Angola,Africa,20.82,0.52,"$4,665.91",0.33,0.15,0.12,0.20,0.09,...,0.20,1.42,0.64,0.26,0.04,2.55,1.61,0.54,0.37,6
4,Antigua and Barbuda,Latin America,0.09,0.78,"$13,205.10",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.94,-4.44,3.11,5.70,2

In [4]:
#Read Happiness data into notebook
Happiness_data1 = pd.read_csv("Resources/2016.csv")
Happiness_data1.head(1)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.46,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939

In [5]:
#Merge Happiness and Footprint data
merge1 = footprint_data1.merge(Happiness_data1, left_on='Country', right_on='Country')
merge1

,Country,Region_x,Population (millions),HDI,GDP per Capita,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,...,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Afghanistan,Middle East/Central Asia,29.82,0.460000,$614.66,0.30,0.20,0.08,0.18,0.00,...,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
1,Albania,Northern/Eastern Europe,3.16,0.730000,"$4,534.37",0.78,0.22,0.25,0.87,0.02,...,4.655,4.546,4.764,0.95530,0.50163,0.73007,0.31866,0.05301,0.16840,1.92816
2,Algeria,Africa,38.48,0.730000,"$5,430.57",0.60,0.16,0.17,1.14,0.01,...,6.355,6.227,6.483,1.05266,0.83309,0.61804,0.21006,0.16157,0.07044,3.40904
3,Angola,Africa,20.82,0.520000,"$4,665.91",0.33,0.15,0.12,0.20,0.09,...,3.866,3.753,3.979,0.84731,0.66366,0.04991,0.00589,0.08434,0.12071,2.09459
4,Argentina,Latin America,41.09,0.830000,"$13,540.00",0.78,0.79,0.29,1.08,0.10,...,6.650,6.560,6.740,1.15137,1.06612,0.69711,0.42284,0.07296,0.10989,3.12985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Uzbekistan,Middle East/Central Asia,28.54,0.670000,"$1,560.85",0.62,0.13,0.08,1.41,0.00,...,5.987,5.896,6.078,0.73591,1.16810,0.50163,0.60848,0.28333,0.34326,2.34638
134,Venezuela,Latin America,29.96,0.763846,"$10,237.80",0.45,0.74,0.12,2.13,0.09,...,6.084,5.973,6.195,1.13367,1.03302,0.61904,0.19847,0.08304,0.04250,2.97468
135,Yemen,Middle East/Central Asia,23.85,0.500000,"$1,302.30",0.34,0.14,0.04,0.42,0.04,...,3.724,3.621,3.827,0.57939,0.47493,0.31048,0.22870,0.05892,0.09821,1.97295
136,Zambia,Africa,14.08,0.580000,"$1,740.64",0.19,0.18,0.33,0.24,0.01,...,4.795,4.645,4.945,0.61202,0.63760,0.23573,0.42662,0.11479,0.17866,2.58991
137,Zimbabwe,Africa,13.72,0.490000,$865.91,0.20,0.32,0.29,0.53,0.01,...,4.193,4.101,4.285,0.35041,0.71478,0.15950,0.25429,0.08582,0.18503,2.44270

In [6]:
# Drop the duplicate country column
merge2 = merge1.drop(merge1.columns[-1],1)
merge2.head(1)

# Drop columns that are not useful
merge2.drop(['Region_x','Cropland Footprint','Grazing Footprint','Forest Footprint','Carbon Footprint','Fish Footprint',
             'Cropland','Grazing Land','Forest Land','Fishing Water','Urban Land','Data Quality',
             'Lower Confidence Interval','Upper Confidence Interval'],axis=1, inplace=True)
merge2

# Export merged dataframe to csv
merge2.to_csv('Resources/countries_happiness_merge.csv')

In [7]:
# Clean the 2015 data and insert the year
happiness_2015_df = pd.read_csv(happiness_2015_file)
happiness_2015_df.insert(0, 'Year', 2015)
del happiness_2015_df['Standard Error']
del happiness_2015_df['Dystopia Residual']
happiness_2015_df.rename(columns={'Family': 'Social Support'}, inplace=True)
happiness_2015_df

,Year,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,2015,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2015,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2015,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,2015,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,2015,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...,...
153,2015,Rwanda,Sub-Saharan Africa,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628
154,2015,Benin,Sub-Saharan Africa,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260
155,2015,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179
156,2015,Burundi,Sub-Saharan Africa,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727
157,2015,Togo,Sub-Saharan Africa,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681

In [8]:
# Clean the 2016 data and insert the year
happiness_2016_df = pd.read_csv(happiness_2016_file)
happiness_2016_df.insert(0, 'Year', 2016)
del happiness_2016_df['Lower Confidence Interval']
del happiness_2016_df['Upper Confidence Interval']
del happiness_2016_df['Dystopia Residual']
happiness_2016_df.rename(columns={'Family': 'Social Support'}, inplace=True)
happiness_2016_df

,Year,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,2016,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,2016,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,2016,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,2016,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,2016,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492
...,...,...,...,...,...,...,...,...,...,...,...
152,2016,Benin,Sub-Saharan Africa,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180
153,2016,Afghanistan,Southern Asia,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268
154,2016,Togo,Sub-Saharan Africa,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517
155,2016,Syria,Middle East and Northern Africa,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397
156,2016,Burundi,Sub-Saharan Africa,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290

In [18]:
# Clean the 2017 data and insert the year
happiness_2017_df = pd.read_csv(happiness_2017_file)
happiness_2017_df.insert(0, 'Year', 2017)
happiness_2017_df['Region'] = happiness_2017_df['Country'].map(happiness_2016_df.set_index('Country')['Region'])
region = happiness_2017_df['Region']
happiness_2017_df.drop(labels=['Region'], axis=1,inplace = True)
happiness_2017_df.insert(2, 'Region', region)
del happiness_2017_df['Whisker.high']
del happiness_2017_df['Whisker.low']
del happiness_2017_df['Dystopia.Residual']
happiness_2017_df.rename(columns={'Happiness.Rank': 'Happiness Rank', 
                                  'Happiness.Score': 'Happiness Score',
                                  'Economy..GDP.per.Capita.': 'Economy (GDP per Capita)',
                                  'Family': 'Social Support',
                                  'Health..Life.Expectancy.': 'Health (Life Expectancy)', 
                                  'Trust..Government.Corruption.': 'Trust (Government Corruption)'}, inplace=True)
trust = happiness_2017_df['Trust (Government Corruption)']
happiness_2017_df.drop(labels=['Trust (Government Corruption)'], axis=1,inplace = True)
happiness_2017_df.insert(9, 'Trust (Government Corruption)', trust)
happiness_2017_df.head()

,Year,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,2017,Norway,Western Europe,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012
1,2017,Denmark,Western Europe,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280
2,2017,Iceland,Western Europe,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540
3,2017,Switzerland,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549
4,2017,Finland,Western Europe,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483

In [10]:
# Clean the 2018 data and insert the year
happiness_2018_df = pd.read_csv(happiness_2018_file)
happiness_2018_df.insert(0, 'Year', 2018)
happiness_2018_df['Region'] = happiness_2018_df['Country or region'].map(happiness_2017_df.set_index('Country')['Region'])
region = happiness_2018_df['Region']
happiness_2018_df.drop(labels=['Region'], axis=1,inplace = True)
happiness_2018_df.insert(3, 'Region', region)
rank = happiness_2018_df['Overall rank']
happiness_2018_df.drop(labels=['Overall rank'], axis=1,inplace = True)
happiness_2018_df.insert(3, 'Happiness Rank', rank)
happiness_2018_df.rename(columns={'Country or region': 'Country',
                                  'Score': 'Happiness Score',
                                  'GDP per capita': 'Economy (GDP per Capita)',
                                  'Social support': 'Social Support',
                                  'Healthy life expectancy': 'Health (Life Expectancy)',
                                  'Freedom to make life choices': 'Freedom',
                                  'Perceptions of corruption': 'Trust (Government Corruption)'}, inplace=True)
trust = happiness_2018_df['Trust (Government Corruption)']
happiness_2018_df.drop(labels=['Trust (Government Corruption)'], axis=1,inplace = True)
happiness_2018_df.insert(9, 'Trust (Government Corruption)', trust)
happiness_2018_df

,Year,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,2018,Finland,Western Europe,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202
1,2018,Norway,Western Europe,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286
2,2018,Denmark,Western Europe,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284
3,2018,Iceland,Western Europe,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353
4,2018,Switzerland,Western Europe,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256
...,...,...,...,...,...,...,...,...,...,...,...
151,2018,Yemen,Middle East and Northern Africa,152,3.355,0.442,1.073,0.343,0.244,0.064,0.083
152,2018,Tanzania,Sub-Saharan Africa,153,3.303,0.455,0.991,0.381,0.481,0.097,0.270
153,2018,South Sudan,Sub-Saharan Africa,154,3.254,0.337,0.608,0.177,0.112,0.106,0.224
154,2018,Central African Republic,NaN,155,3.083,0.024,0.000,0.010,0.305,0.038,0.218
155,2018,Burundi,Sub-Saharan Africa,156,2.905,0.091,0.627,0.145,0.065,0.076,0.149

In [11]:
# Clean the 2019 data and insert the year
happiness_2019_df = pd.read_csv(happiness_2019_file)
happiness_2019_df.insert(0, 'Year', 2019)
happiness_2019_df['Region'] = happiness_2019_df['Country or region'].map(happiness_2017_df.set_index('Country')['Region'])
region = happiness_2019_df['Region']
happiness_2019_df.drop(labels=['Region'], axis=1,inplace = True)
happiness_2019_df.insert(3, 'Region', region)
rank = happiness_2019_df['Overall rank']
happiness_2019_df.drop(labels=['Overall rank'], axis=1,inplace = True)
happiness_2019_df.insert(3, 'Happiness Rank', rank)
happiness_2019_df.rename(columns={'Country or region': 'Country',
                                  'Score': 'Happiness Score',
                                  'GDP per capita': 'Economy (GDP per Capita)',
                                  'Social support': 'Social Support',
                                  'Healthy life expectancy': 'Health (Life Expectancy)',
                                  'Freedom to make life choices': 'Freedom',
                                  'Perceptions of corruption': 'Trust (Government Corruption)'}, inplace=True)
trust = happiness_2019_df['Trust (Government Corruption)']
happiness_2019_df.drop(labels=['Trust (Government Corruption)'], axis=1,inplace = True)
happiness_2019_df.insert(9, 'Trust (Government Corruption)', trust)
happiness_2019_df

,Year,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,2019,Finland,Western Europe,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,2019,Denmark,Western Europe,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,2019,Norway,Western Europe,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,2019,Iceland,Western Europe,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,2019,Netherlands,Western Europe,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322
...,...,...,...,...,...,...,...,...,...,...,...
151,2019,Rwanda,Sub-Saharan Africa,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217
152,2019,Tanzania,Sub-Saharan Africa,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276
153,2019,Afghanistan,Southern Asia,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158
154,2019,Central African Republic,NaN,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235
155,2019,South Sudan,Sub-Saharan Africa,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202

In [12]:
# Combine all the year dataframes into a single dataframe
happiness_df_list = [happiness_2015_df, happiness_2016_df, happiness_2017_df, happiness_2018_df, happiness_2019_df]
happiness_df = pd.concat(happiness_df_list)
happiness_df

# Export combined dataframe to a csv
happiness_df.to_csv('Resources/happiness_years.csv', encoding='utf-8', index=False)

In [13]:
# Create dataframes for top 10 ranked countries
top_happiness_2015 = happiness_df.loc[happiness_df['Year'] == 2015, :].head(10)
top_happiness_2015
top_happiness_2016 = happiness_df.loc[happiness_df['Year'] == 2016, :].head(10)
top_happiness_2016
top_happiness_2017 = happiness_df.loc[happiness_df['Year'] == 2017, :].head(10)
top_happiness_2017
top_happiness_2018 = happiness_df.loc[happiness_df['Year'] == 2018, :].head(10)
top_happiness_2018
top_happiness_2019 = happiness_df.loc[happiness_df['Year'] == 2019, :].head(10)
top_happiness_2019

top_10 = [top_happiness_2015, top_happiness_2016, top_happiness_2017, top_happiness_2018, top_happiness_2019]

top_10_df = pd.concat(top_10)
top_10_df

top_10_df.to_csv('Resources/happiness_top_10.csv', encoding='utf-8', index=False)

In [14]:
bottom_happiness_2015 = happiness_df.loc[happiness_df['Year'] == 2015, :].tail(10)
bottom_happiness_2015
bottom_happiness_2016 = happiness_df.loc[happiness_df['Year'] == 2016, :].tail(10)
bottom_happiness_2016
bottom_happiness_2017 = happiness_df.loc[happiness_df['Year'] == 2017, :].tail(10)
bottom_happiness_2017
bottom_happiness_2018 = happiness_df.loc[happiness_df['Year'] == 2018, :].tail(10)
bottom_happiness_2018
bottom_happiness_2019 = happiness_df.loc[happiness_df['Year'] == 2019, :].tail(10)
bottom_happiness_2019

bottom_10 = [bottom_happiness_2015, bottom_happiness_2016, bottom_happiness_2017, bottom_happiness_2018, 
             bottom_happiness_2019]

bottom_10_df = pd.concat(bottom_10)
bottom_10_df

bottom_10_df.to_csv('Resources/happiness_bottom_10.csv', encoding='utf-8', index=False)

In [15]:
top_bottom_df = top_10_df.append(bottom_10_df)
top_bottom_df

top_bottom_df.to_csv('Resources/happiness_top_bottom_10.csv', encoding='utf-8', index=False)

In [16]:
# Group dataframe by Region
region_data = happiness_df.groupby(['Region'])

# Find averages
region_avgs = region_data.mean().sort_values(['Year', 'Region']).reset_index()
region_avgs

region_avgs.to_csv('Resources/happiness_region_avgs.csv', encoding='utf-8', index=False)

In [17]:
# Create dataframe for United States
group_country = happiness_df.groupby(['Country'])
us_df = group_country.groups['United States']
us_df = group_country.get_group('United States')
us_df

us_df.to_csv('Resources/happiness_us.csv', encoding='utf-8', index=False)